@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

.aumentar{
    animation-name: aumentar;
    animation-duration: 5s;
}

@keyframes aumentar{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.3;
    }
    20%{
        opacity: 0.6;
    }
    30%{
        opacity: 0.9;
    }
    40%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    70%{
        opacity: 0.9;
    }
    80%{
        opacity:0.6;
    }
    90%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}


.principal{
    background-image: url(../img/fondoPrincipal.jpeg);
    font-family: 'Bebas Neue', cursive;
}

#head{
    margin-top:2%;
    background-color: #f2f2f27e;
    width: 100%;
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;    
}

#texto{
    margin-top: 15%;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
.btn-grad {background-image: linear-gradient(to right, #ADD100 0%, #7B920A  51%, #ADD100  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   color:black;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 /* From cssbuttons.io by @nikk7007 */
button {
    padding: 0.8em 1.8em;
    border: 2px solid #283b1a;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #283b1a;
    cursor: pointer;
    margin-bottom:15%;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #aeb8a7;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   
@media screen and (max-width: 700px) {
    #texto{
        margin-top:40%;
    }
    
}